/* src/LandingPage.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'manrope';
  src: url('fonts/manrope-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'manrope';
  src: url('fonts/manrope-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'manrope';
  src: url('fonts/manrope-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.Container-Landing-Page {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
  z-index: 1;
}

.OverarchingLanding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HeaderOne {
  color: white;
  font-size: 54px;
  text-align: center;
  font-family: 'manrope';
  font-weight: bold;
  line-height: 1.2;
}

.OverarchingLanding .Subtext {
  font-family: 'manrope';
  color: #888888;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.Buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 30px;
}

.JoinForFree, .Login {
  width: 95px;
  height: 36px;
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'manrope';
  font-weight: 400;
}



.JoinForFree {
  background-color: #1A1B1C;
  transition: 0.3s ease-in-out; /* Add transition property */
}

.JoinForFree:hover {
  background-color: red;
  border : 2px solid white; 
}

.Login {
  color: #1A1B1C;
  background-color: white;
}

.Row-One, .Row-Three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Row-Three {
  gap: 10px;
}

.Interviewers-Text {
  font-family: 'manrope';
  font-size: 12px;
  font-weight: 500;
  color: #C1C1C1;
}

.Companies {
  width: 700px;
  height: auto;
}

.GradientText {
  background: linear-gradient(to right, #B6FBFF, #83A4D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Added styles for Loops background */
.Loops-Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.Secondary-Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.Row-One {
  padding-top: 250px;
}

.Row-One, .Row-Two, .Row-Three, .OverarchingLanding, .Text, .Buttons, .Companies {
  position: relative;
  z-index: 1;
}
