* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:  #0A0A0A/* Ensure the background is set */ ; 
}

@font-face {
    font-family: 'manrope';
    src: url('fonts/manrope-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'manrope';
    src: url('fonts/manrope-regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}


@font-face {
    font-family: 'manrope';
    src: url('fonts/manrope-medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}


.Page-Two
{
  height :  300px;
  display : flex ; 
  flex-direction : column ; 
  justify-content : center ; 
  align-items : center ;
}
.Header
{
  color : white ; 
}
.Cards
{
  display : flex ; 
  flex-direction : row; 
}

.ItemOne
{
  display : flex ; 
  flex-direction : column; 
  /* justify-content : center ;  */
  align-items: center ; 
  text-align : center ; 
}

.ItemTwo
{
  display : flex ; 
  flex-direction : column; 
  align-items: center ; 
  text-align : center ; 
}

.ItemThree
{
  display : flex ; 
  flex-direction : column; 
  align-items: center ; 
  text-align : center ; 
}
.CardTitle
{
  font-family : manrope ; 
  font-weight : bold ; 
  font-size: 12px; /* Set font size for visibility */
  color : white ; 
}
.CardSubtext
{
  font-family : manrope ; 
  font-weight : bold ; 
  font-size: 8px; /* Set font size for visibility */
  color : white ; 
}

.Header
{
  font-family : manrope ;
  font-weight : bold ; 
  font-size: 46px; /* Set font size for visibility */
  color : white ; 
}

.AnimationOne
{

  height: 300px ; 
  width : 300px ;
  color : #C1C1C1 ; 
  background-color : #C1C1C1 ; 
  border-radius : 18px ; 
}

.Text
{

}
