* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0A0A0A; /* Ensure the background is set */
}

.Overarching
{
  height : 300px;
  width: 300px;
}

.Text
{
  font-size : 300px ; 
  color : white ; 
}

